<template lang="pug">
  div
    .col-xs-12.map-radius(v-if="resize == true")
      img.img-responsive(src="http://www.leader-mutual.com/templets/Leader/images/map.png", alt="")
      button(data-toggle="tooltip" data-placement="top" data-original-title="非洲" class="btn btn-default africa" @click="selectState('非洲')")
      button(data-toggle="tooltip" data-placement="top" data-original-title="美洲" class="btn btn-default america" @click="selectState('美洲')")
      button(data-toggle="tooltip" data-placement="top" data-original-title="亞洲" class="btn btn-default asia" @click="selectState('亞洲')")
      button(data-toggle="tooltip" data-placement="top" data-original-title="歐洲&amp;中東" class="btn btn-default europe" @click="selectState('歐洲')")
      button(data-toggle="tooltip" data-placement="top" data-original-title="大洋洲" class="btn btn-default ocenia" @click="selectState('大洋洲')")
      button(data-toggle="tooltip" data-placement="top" data-original-title="南美洲" class="btn btn-default south-america" @click="selectState('南美洲')")
    .col-xs-12
      .globe-btn
      .input-group.stylish-input-group
        //- 州
        select.from-control(v-if="resize == false" v-model="state")
          option(disabled="disabled" selected="selected") 州
          option(value="非洲") 非洲
          option(value="美洲") 美洲
          option(value="亞洲") 亞洲
          option(value="歐洲") 歐洲
          option(value="歐洲") 歐洲&amp;中東
          option(value="大洋洲") 大洋洲
          option(value="南美洲") 南美洲
        //- 國家
        select.from-control(v-model="selectCountry")
          option(disabled="disabled" selected="selected") 國家        
          option(v-for="(item,index) in country" :key="index") {{item.country}}
        //- 城市
        select.from-control(v-model="selectCity")
          option(disabled="disabled" selected="selected") 城市                  
          option(v-for="(item,index) in city" :key="index") {{item.city}}
        input(type="text" placeholder="城市搜尋" v-model="search").form-control
    div.show
      transition(name="slidedown")
        div.tab-pane.in(v-for="(item,index) in finaldata" :key="index")
          span
            h4 
              | {{item.country}}
              b {{item.city}}
              em {{item.searchname[0]}}
          h4 公司名稱：
          h4 {{item.companyname}}
          h4
            span 地址/Address：
          h4 {{item.address}}
          h4
            span 電話/TEL：
          h4 {{item.tel}}
          h4
            span 傳真/Fax：
          h4 {{item.fax}}
          h4
            span 負責人/PIC：
          h4 {{item.pic}}
          h4
            span Email：
          h4 {{item.mail}}
          .col-sm-12.col-xs-12
            iframe(frameborder="0" height="440" marginheight="0" marginwidth="0" scrolling="no" :src="item.map" width="560")
</template>

<script>
export default {
  data() {
    return {
      resize: true,
      state: '',//州
      selectCountry: '', //選擇後的國家
      selectCity: '',//選擇後的城市
      search: '' //搜尋
    }
  },
  created() {
    window.addEventListener('resize',() => {
      if(window.innerWidth > 768){
        this.resize = true //電腦版顯示地圖
      }else{
        this.resize = false //手機版不顯示地圖
      }
    })
  },
  computed: {
    searchCheck() {
      if(this.search != ''){
        this.state = ""
        this.selectCountry = ""
        this.selectCity = ""
      }
    },
    country() { //創建國家
      if(this.search != ''){
        return this.country = ''
      }else if(this.state == ''){ //沒有選擇州，就不顯示有哪些國家
          return this.country = ''
      }else{
        return this.country = api.filter((item) => {
            if(item.state.indexOf(this.state) != -1){
              return true
            }return false
        })
      }
    },
    city() {
      if(this.search != ''){ //搜尋
        return this.city = ''
      }else if(this.selectCountry == ''){ //沒有選擇國家，就不顯示城市
        return this.city = ''
      }else{
        return this.city = this.country.filter((item) => {
          if(item.country.indexOf(this.selectCountry) != -1) {
            return true
          }return false
        })
      }
    },
    finaldata() {
      if(this.search != ''){ //搜尋城市
        return this.data = api.filter((item) => {
          if(item.city.indexOf(this.search) != -1 ){
            return true
          }return false
        })
      }else{
        if(this.selectCity == ''){ //最終結果顯示出來的資料
          return this.data = ''
        }else{
          return this.data = this.city.filter((item) => {
            if(item.city.indexOf(this.selectCity) != -1) {
              return true
            }return false
          })
        }
      }
    }
  },
  methods: {
    selectState(n) {
      this.state = n
    }
  }
}
</script>

<style lang="sass">
.slidedown-enter-active,
  transition: opacity 1s, transform .6s
.slidedown-leave-active
  transition: opacity .6s, transform .6s
.slidedown-enter,.slidedown-leave-to
  transform: translateX(-100px)
  opacity: 0 
</style>
